In [71]:
#Using Google Colab
from google.colab import files
uploaded = files.upload()

Saving FoodBalanceSheets_E_Africa_NOFLAG.csv to FoodBalanceSheets_E_Africa_NOFLAG (2).csv

In [86]:
import pandas as pd
food_df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = 'latin-1')
print(food_df.shape) #To obtain no of rows and columns in the data set
food_df.head() #dataset preview

(60943, 12)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [73]:
#To find the total number of unique countries in the dataset
food_df['Area'].nunique()

49

In [74]:
#To find the total protein supply quantity in Madagascar in 2015
Mada =food_df[food_df['Area'] =='Madagascar'] #
Mada

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
30715,129,Madagascar,2501,Population,511,Total Population - Both sexes,1000 persons,23590.00,24234.00,24894.00,25571.00,26262.00
30716,129,Madagascar,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
30717,129,Madagascar,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,1986.00,1922.00,1918.00,1943.00,1938.00
30718,129,Madagascar,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,44.45,43.26,43.35,43.94,44.17
30719,129,Madagascar,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,22.18,22.97,23.83,25.26,24.12
...,...,...,...,...,...,...,...,...,...,...,...,...
32149,129,Madagascar,2899,Miscellaneous,5142,Food,1000 tonnes,10.00,11.00,11.00,11.00,12.00
32150,129,Madagascar,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,0.44,0.44,0.44,0.44,0.44
32151,129,Madagascar,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,0.00,0.00,0.00,0.00,0.00
32152,129,Madagascar,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.01,0.01,0.01,0.01,0.01
32153,129,Madagascar,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.01,0.01,0.01,0.01,0.01

In [75]:
#To find the total protein supply quantity in Madagascar in 2015
mada_protein = Mada[Mada['Element'] =='Protein supply quantity (g/capita/day)']
mada_protein['Y2015'].sum()

173.04999999999998

In [76]:
#To find the standard deviation and mean across the entire dataset for 2017
food_df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [77]:
#Total number of missing data in 2014
food_df['Y2014'].isnull().sum()

1589

In [78]:
#Finding which year had the loest correlation with 'Element Code'
food_df.corr()

<ipython-input-78-d30062ba2622>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  food_df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [79]:
#To find which 'Area' had the '7th' Lowest sum in 2017
food_df_area_and_y2017 = food_df[['Area', 'Y2017']]
sum_food = food_df_area_and_y2017.groupby('Area')['Y2017'].sum()
sum_food.sort_values()

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
Côte d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [80]:
#To find which 'Area' had the Highest sum in 2017
sum_food.sort_values(ascending=False)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64

In [81]:
food_df.groupby('Area')['Y2017'].sum().sort_values(ascending=False)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64

In [82]:
#Total Sum of wine produced in 2015
x = food_df[food_df['Item'] =='Wine']
x['Y2015'].sum()

4251.8099999999995

In [83]:
#Total Sum of wine produced in 2018

x['Y2018'].sum()

4039.3199999999997

In [84]:
#Total Processing in 2017
proc = food_df[food_df['Element'] =='Processing']
proc['Y2017'].sum()

292836.0

In [85]:
stock= food_df[food_df['Element'] =='Stock Variation']
stock.sum()

Area Code                                                  571566
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                11329527
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                             21464704
Element         Stock VariationStock VariationStock VariationS...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                    58749.83
Y2015                                                    34910.99
Y2016                                                    33140.12
Y2017                                                    54316.91
Y2018                                                    20577.91
dtype: object